# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Database
MONGODB_URI=mongodb://trippyytees_db_user:JVQNgh6gwnrFwo5z@ac-1mlapg7-shard-00-00.9kjuiwn.mongodb.net:27017,ac-1mlapg7-shard-00-01.9kjuiwn.mongodb.net:27017,ac-1mlapg7-shard-00-02.9kjuiwn.mongodb.net:27017/?ssl=true&replicaSet=atlas-19lwt6-shard-0&authSource=admin&appName=Cluster0


# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# NVIDIA AI
NVIDIA_API_KEY=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
NVIDIA_API_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=deepseek-ai/deepseek-r1-distill-qwen-32b

# Storage
STORAGE_DRIVER=local
MAX_UPLOAD_MB=50
